<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>paincare</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>general_servlet</display-name>
    <servlet-name>general_servlet</servlet-name>
    <servlet-class>servlet.general_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>general_servlet</servlet-name>
    <url-pattern>/general_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_register</display-name>
    <servlet-name>servlet_register</servlet-name>
    <servlet-class>servlet.servlet_register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_register</servlet-name>
    <url-pattern>/servlet_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>auth_serv</display-name>
    <servlet-name>auth_serv</servlet-name>
    <servlet-class>servlet.auth_serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>auth_serv</servlet-name>
    <url-pattern>/auth_serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_blog</display-name>
    <servlet-name>servlet_blog</servlet-name>
    <servlet-class>servlet.servlet_blog</servlet-class>
    <multipart-config>
      <location>C:\Users\hp\Desktop\java\tampan</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>
    
  </servlet>
  
  <servlet-mapping>
    <servlet-name>servlet_blog</servlet-name>
    <url-pattern>/servlet_blog</url-pattern>
  </servlet-mapping>
</web-app>